body{ /* Color de fondo*/
    background-color: #000000;
}
main{ /*Borde de pipboy, no comparte caracteristicas*/
    margin: 10px;
    border-radius: 100px;
    border: 50px rgb(52, 54, 63) solid;
    box-shadow: 
    inset 0 0 0 4px #eee,
    inset 10px 0 0 8px #000000,
    inset 0 10px 0 0px #d4cece,
    inset 0 0 0 10px #89857f,
    0 0 0 1px #645555,
    0 0 0 2px #3f3636,
    0 0 0 3px #292727,
    0 0 0 4px #111111;;
    background-color: black;
    height: 100vh;
    max-height: 100%;
}  
.screw{  /*scew shape*/
    width: 25px;
    height: 25px;
    position: absolute;
    background: #f4ebe4;
    border-radius: 150px;
    box-shadow:0px 2px 5px #483a31;
}
.screw:after{ /*Line in the screw*/
    content:"";
    display:block;
    width:100%;
    height:.5vh;
    background:rgba(0,0,0,0.7);
    transform:rotate(40deg);
    margin-top:11px;
}
.screwPotTopRight{
    top:50px;
    right:45px;
}
.screwPotTopLeft{
    top:50px;
    left: 45px;
}
.screwPotBottomLeft{
    bottom:30px;
    left: 45px;
}
.screwPotBottomRight{
    bottom:30px;
    right: 45px;
}
.dropdown-menu{
    background-color: transparent;
}
.header{
    position: absolute;
    margin-left: 5vw;
    width: 80vw;
} 
a{
    text-decoration-color: none;
    text-decoration: none;
    color: rgb(98, 189, 8)
}
.menuSame{ /*fonts color and shadows for text*/
    margin-top: 2vh;
    color: rgb(91, 253, 105);
    font-weight: normal;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    text-shadow: 2px 2px 3px rgb(91, 253, 105);    
}
.scanSame{ /* moving scanner not sizing */
    height:80px;
    background:linear-gradient(rgba(0,0,0,0),#80f12a96);
    border-radius: 0px 0px 30px 30px; 
    margin-left: 10px;
    position:absolute;
    animation:scan;
    animation-duration:4s;
    animation-iteration-count: infinite;
    top:-85px;
    z-index:99;
    opacity:0.25;
}
.screen-reflectionSame{/*gradiant for the screen but not size*/
    background:linear-gradient(150deg,#fff,#0f0f0f00);
    position: fixed;
    opacity:0.07;
    margin:9px 10px 10px 10px;
    border-radius:10px;
}
.lineSame{
    border-top: 3px solid rgb(91, 253, 105);
    
}
.hpBar{
    border-color: 2px solid rgb(91, 253, 105);
    display: inline-block;
    /* width: 30vw;  */
    height:2.5vh;
}
.footerBackground{
    background:linear-gradient(150deg, rgb(36, 116, 43) ,#0c9e0c00);
    background-repeat: no-repeat;   
    width: 10vw;
}

.tag{
    background: rgba(53, 85, 4, 0.794);
    width: 10vw;
}

@keyframes scan{
    from {top: 5vh;}
    to {top: 80vh;}
}

@media (max-width: 768px)  { /*mobile*/
    .menuChange{
        font-size: 1.7rem
    }
    .scanDifference{
        width:90% ;
        max-width: 65%;
        
    }
    .screen-reflectionChange{
        width: 65vw;
        max-width: 65%;
        height:80vh;
        
    }
    .lineChange{
        margin-top: 0px;
        width: 58vw;
    }
    .cont1{
        margin-left: 4vh;
        margin-right: 4vh;
        margin-top: 0px;
        height: 55vh;
    }
    .tagImg{
        height: 30vh;
        width: 25vw;
    }
    .tag{
        background: rgba(53, 85, 4, 0.794);
        width: 22vw;
    }
}    
@media (min-width: 768px) and (max-width: 992px)  { /*tablet*/
    
    .menuChange{
        font-size: 1.2rem
    }
    .scanDifference{
        width: 82% ;
        max-width: 90vw;
        
    }
    .screen-reflectionChange{
        width: 90vw;
        max-width: 82vw;
        height:80vh;
        
    }
    .lineChange{
        margin-top: 43px;
        width: 80vw;
    }
    .cont1{
        margin-left: 25vh;
        margin-right: 25vh;
        margin-top: 0px;
        height: 50vh;
    }
    .tagImg{
        height: 30vh;
        width: 12vw;
    }
}  
@media (min-width: 992px) and (max-width:1200px)  { /*laptop*/
    .menuChange{
        font-size: 1.5rem
    }
    .scanDifference{
        width: 86vw ;
        max-width: 90vw;
        
    }
    .screen-reflectionChange{
        width: 87vw;
        height:85vh;
        
    }
    .lineChange{
        margin-top: 52px;
        margin-bottom: 3px;
        width: 80vw;
    }
    .cont1{
        margin-left: 40vh;
        margin-right: 40vh;
        margin-top: 0px;
        height: 50vh;
    }
    .tagImg{
        height: 30vh;
        width: 10vw;
    }
    
    
    @keyframes scan{
        from {top: 5vh;}
        to {top: 83vh;}
    }
}    
@media (min-width: 1200px)  { /*Laptop Large*/
    .menuChange{
        font-size: 2rem
    }
    .scanDifference {
        width: 90vw ;
        max-width: 90%;
        
    }
    .screen-reflectionChange{
        width: 90vw;
        height:85vh;
        
    }
    .lineChange{
        margin-top: 70px;
        width: 85vw;
    }
    .cont1{
        margin-left: 50vh;
        margin-right: 50vh;
        font-size: 1.3rem;
        height: 55vh;
    }
    .tagImg{
        height: 30vh;
        width: 10vw;
    }
    .nameFont{
        font-size: 1.3rem;
    }
    .footerContainer{
        margin-top: 3vh;
        margin-left: 8vw;
        font-size: 1.3rem;
    }
    @keyframes scan{
        from {top: 5vh;}
        to {top: 83vh;}
    }
}      



