<div class=" menuSame cont1  d-none"> <!--SHOW AFTER DONE erasing d-none-->
    <div class="menuSame tag frontEnd d-block text-center mx-auto d-block tagback" data-toggle="tooltip" data-placement="bottom" title="Hooray!">FrontEnd</div>
    <div class="menuSame tag gamer d-inline-block text-center tagback"data-toggle="tooltip" data-placement="bottom" title="Hooray!">Gamer</div>
    <div class="menuSame tag mom d-inline-block text-center float-right tagback" data-toggle="tooltip" data-placement="bottom" title="Hooray!">Mom</div>
    <div><img class="responsive-img text-center mx-auto d-block tagImg" src="./assets/img/vaultgirl.png" data-toggle="tooltip" data-placement="bottom" title="Hooray!"></div>
    <div class="menuSame tag something d-inline-block text-center tagback" data-toggle="tooltip" data-placement="bottom" title="Hooray!">Roleplayer</div>
    <div class="menuSame tag something2 d-inline-block text-center float-right tagback" data-toggle="tooltip" data-placement="bottom" title="Hooray!"> Chef</div>
    <div class="menuSame tag justMe d-block text-center mx-auto d-block tagback" data-toggle="tooltip" data-placement="bottom" title="Hooray!">JustMe</div>
</div>