<div class="" id="projectContainer">
    <div class="row">
        <div class="col-lg-5 offset-lg-1 col-xs-12 imagesection ">
            <img class="img-fluid pokedex" src="./assets/img/68747470733a2f2f692e696d6775722e636f6d2f415975745a4f462e706e67.png" alt="">
        </div>
        <div class="col-lg-5 col-xs-12 datasection singleProyect">
            <h3 class="text-center menuSame">POKEDEX</h3>
            <a class="menuSame d-block" href="https://github.com/SarahWinchester/Pokedex">Repository</a>
            <a class="menuSame d-block" href="https://sarahwinchester.github.io/Pokedex/">DEMO</a>
            <h5 class="menuSame text-center">TOOLS</h5>
            <span class="menuSame">Javascript,</span>
            <span class="menuSame">CSS3 ,</span>
            <span class="menuSame">HTML5, </span>
            <span class="menuSame">AJAX ,</span>
            <span class="menuSame">JQuery , </span>
            <span class="menuSame">Bootstrap , </span>
            <span class="menuSame">Pokemon RESTful API .</span>
            <div class="menuSame text-center">**Mobile Only**</div>
            <p class="menuSame text-justify">This is a pokedex made it with Javascript, Jquery, Bootstrap, AJAX and the Pokemon RESTful API. <br><br>You can find here a pokedex showing the first 20 pokemons , or you can find the pokemon what you need in the search bar from his correct name or with the pokemon Number<br><br>Also you can find data of each pokemon you search, like type, height , weight even the sprites Normal and Shiny</p>
        </div>
        <img src="./assets/img/divider.png" class="img-fluid" alt="">   
    </div>
    <div class="row">
        <div class="col-lg-5 offset-lg-1 col-xs-12  imagesection">
            <img class="img-fluid pokedex" src="./assets/img/Zshop.png" alt="">
        </div>
        <div class="col-lg-5 col-xs-12  datasection singleProyect">
            <h3 class="text-center menuSame">ZSHOP</h3>
            <a class="menuSame d-block" href="https://github.com/SarahWinchester/Zhop-Ecommerce">Repository</a>
            <a class="menuSame d-block" href="https://sarahwinchester.github.io/Zhop-Ecommerce/">DEMO</a>
            <h5 class="menuSame text-center">TOOLS</h5>
            <span class="menuSame">Javascript,</span>
            <span class="menuSame">CSS3 ,</span>
            <span class="menuSame">HTML5, </span>
            <span class="menuSame">AJAX ,</span>
            <span class="menuSame">JQuery , </span>
            <span class="menuSame">Bootstrap , </span>
            <span class="menuSame">MercadoLibre RESTful API ,</span>
            <span class="menuSame">PAYPAL Sandbox RESTful API,</span>
            <div class="menuSame text-center">**Web**</div>
            <p class="menuSame text-justify">Z-shop is an e-Commerce dedicated to people who likes alternative fashion, like Gothic, Steampunk, CyberPunk.<br><br>You will find here a main section based in Gothic Fashion, but i have 3 predeterminated categories, This api is able to find anything in MercadoLibre , and you can try make a purchase with the Paypal API and his Sandbox without risk</p>
        </div>
        <img src="./assets/img/divider.png" class="img-fluid" alt="">
    </div>
    <div class="row">
        <div class="col-lg-5 offset-lg-1 col-xs-12  imagesection">
            <img class="img-fluid pokedex" src="./assets/img/mini-logo.jpg" alt="">
        </div>
        <div class="col-lg-5 col-xs-12  datasection singleProyect">
            <h3 class="text-center menuSame">MINI MONDAY</h3>
            <a class="menuSame d-block" href="https://github.com/SarahWinchester/MyPage">Repository</a>
            <a class="menuSame d-block" href="https://sarahwinchester.github.io/MyPage/">DEMO</a>
            <h5 class="menuSame text-center">TOOLS</h5>
            <span class="menuSame">CSS3 ,</span>
            <span class="menuSame">HTML5, </span>
            <span class="menuSame">Custom Grid , </span>
            <div class="menuSame text-center">**Web and Mobile**</div>
            <p class="menuSame text-justify">Personal Page about a strong hobbie, Miniature Painting.<br><br>MiniMonday is a group who loves paint miniatures, from Boardgames (Like Dungeons and Dragons Adventure System) and WarGames ( Like Warhammer) we share paints, brushes and Tips for miniature painting improving </p>
        </div>
        <img src="./assets/img/divider.png" class="img-fluid" alt="">
    </div>
    <div class="row">
        <div class="col-lg-5 offset-lg-1 col-xs-12  imagesection">
            <img class="img-fluid pokedex" width="300px" src="./assets/img/name_gen_kitty_x2.png" alt="">
        </div>
        <div class="col-lg-5 col-xs-12  datasection singleProyect">
            <h3 class="text-center menuSame">NEKO NEKO DAY</h3>
            <a class="menuSame d-block" href="https://github.com/SarahWinchester/NekoNekoDay">Repository</a>
            <a class="menuSame d-block" href="https://sarahwinchester.github.io/NekoNekoDay/">DEMO</a>
            <h5 class="menuSame text-center">TOOLS</h5>
            <span class="menuSame">CSS3 ,</span>
            <span class="menuSame">HTML5, </span>
            <span class="menuSame">Custom Grid , </span>
            <span class="menuSame"> Media Query</span>
            <div class="menuSame text-center">**Web and Mobile**</div>
            <p class="menuSame text-justify">Just a little excercice with Media Queries, if you change the size of the window, the cat will change with the day </p>
        </div>
        <img src="./assets/img/divider.png" class="img-fluid" alt="">
    </div>
    <div class="row">
        <div class="col-lg-5 offset-lg-1 col-xs-12  imagesection">
            <img class="img-fluid pokedex" width="300px" src="./assets/img/porobees.png" alt="">
        </div>
        <div class="col-lg-5 col-xs-12  datasection singleProyect">
            <h3 class="text-center menuSame">Lol4NewBees</h3>
            <a class="menuSame d-block" href="https://github.com/SarahWinchester/Lol4NewBees">Repository</a>
            <a class="menuSame d-block" href="https://sarahwinchester.github.io/Lol4NewBees/">DEMO</a>
            <h5 class="menuSame text-center">TOOLS</h5>
            <span class="menuSame">Javascript, </span>
            <span class="menuSame">CSS3 ,</span>
            <span class="menuSame">HTML5, </span>
            <span class="menuSame">Bootstrap , </span>
            <span class="menuSame">FireBase,</span>
            <span class="menuSame">JSON </span>
            <div class="menuSame text-center">**Mobile Only**</div>
            <p class="menuSame text-justify">Hackathon Product, made in squad, with Orquidea Campos , Miriam Perez and myself, the v2.0 is made just for me<br>The principal theme of this app, is make a helper to all people who try to understand this videogame (MOBA), is a hardcore game and everyone is expecting  you do your best  to win the match; But the half of the time you do not anything about it, What champion should i use? what is a rune? what is a lane?, lol4newbees will fix this.  </p>
        </div>
        <img src="./assets/img/divider.png" class="img-fluid" alt="">
    </div>
</div>