<div class=" skillsContain row d-none" >
    <div class=" col-6" id="skillScroll">
        <ul class="listMenu">
            <li class="menuSame">Javascript ES6</li>
            <li class="menuSame"> CSS3</li>
            <li class="menuSame">HTML5</li>
            <li class="menuSame">Jquery</li>
            <li class="menuSame">RESTful API</li>
            <li class="menuSame">Bootstrap</li>
            <li class="menuSame">Materialize</li>
            <li class="menuSame">Node.js (basico)</li>
            <li class="menuSame">Git</li>
            <li class="menuSame">Firebase</li>
            <li class="menuSame">SCRUM</li>
            <li class="menuSame">AGILE</li>
            <li class="menuSame">Justinmind</li>
            <li class="menuSame">Photoshop CS6</li>
            <li class="menuSame">Handlebars.js</li>
            <li class="menuSame">Babel</li>
        </ul>
    </div>
    <div class="row rowimage">
        <div class=" col-12" id="imageSkill"><img class="responsive-img text-center mx-auto d-block   " src="./assets/img/vaultgirl.png" alt=""></div>
    </div>
    
    
</div>